<!--
  This was the older header
  ----------------------------
<mat-toolbar color="primary">
  <span>
    <a routerLink="/">The Book Nook</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
  </ul>
</mat-toolbar>
-->
<mat-toolbar color="primary">
    BookNook Book Storage Service
    <div id="toolbar-links">
      <a href="">Home</a>
      <a href="login" *ngIf="!userIsAuthenticated">Login</a>
      <a href="#" (click)="logout()" *ngIf="userIsAuthenticated">Logout</a>
      <a href="list">List</a>
    </div>
</mat-toolbar>
