<!--
  This was the older header 
  ----------------------------
<mat-toolbar color="primary">
  <span>
    <a routerLink="/">The Book Nook</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
  </ul>
</mat-toolbar>
-->
<mat-toolbar color="primary">
  <mat-toolbar-row>BookNook Book Storage Service</mat-toolbar-row>  
  <mat-toolbar-row>
    <a href="">Home</a>
    <a href="login" *ngIf="!userIsAuthenticated">Login</a>
    <a href="list">List</a>
  </mat-toolbar-row>


</mat-toolbar>
