#bookmarks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
button{
    max-width: 600px;
}

.scoring mat-icon:hover {
  cursor: pointer;
  color:  orange !important;
}
.bookdetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#deletebutton{
  width: 75px;
  height: 75px;
  font-size: 35pt;
}

.tbr{
  display: flex;
  flex-direction: row;
  background-color: gray;
  width: 100%;
  height: 100%;
  max-height: 10%;
  justify-content: space-evenly;
  padding: 15px;
  border-radius:15px;
  margin-left: auto;
  margin-right: auto;
  align-content: stretch;
}
