<mat-accordion multi="true" *ngIf="markedBooks.length > 0">
    <mat-expansion-panel *ngFor="let book of markedBooks">
      <mat-expansion-panel-header>
        <p>
          
          {{book.title}}
        </p>
      </mat-expansion-panel-header>
      <p>{{book.author}}</p>
      <p>{{book.publication}}</p>
      <mat-action-row>
        <button mat-button color="accent" (click)="onDelete(post.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion multi="true" *ngIf="favedBooks.length > 0">
    <mat-expansion-panel *ngFor="let book of favedBooks">
      <mat-expansion-panel-header>
        <p>
          {{book.book.title}}
        </p>
      </mat-expansion-panel-header>
      <p>{{book.book.author}}</p>
      <p>{{book.book.publication}}</p>
      <mat-action-row>
        <button mat-button color="accent" (click)="onDelete(post.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="markedBooks.length <= 0">No Bookmarked books to render</p>
  <p class="info-text mat-body-1" *ngIf="favedBooks.length <= 0">No Favorited books to render</p>
  