mat-form-field {
    width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-card {
  width: 500px;
  padding: 60px 30px;
  height: 600px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px #1f1f1f;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

form {
  margin-top: 50px;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 15px;
}

button {
  width: 50%;
}

#errorMsg {
  color: #F34336;
  height: 1em;
}
