
<div id="messageBox">
  {{ message }}
</div>

<div id="searchBody">
  <form #form="ngForm">
    <mat-form-field appearance="fill" id="searchTypeSelect">
      <mat-label>Select Keyword</mat-label>
      <mat-select name="searchType" id="searchType" ngModel>
        <mat-option value="q" selected>All</mat-option>
        <mat-option value="title">Title</mat-option>
        <mat-option value="author">Author</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" id="searchBar">
      <mat-label>Enter Search</mat-label>
      <input matInput type="text" name="searchTerms" id="searchTerms" cols="70" rows="0" (keyup.enter)="search(form)" ngModel>
    </mat-form-field>
    <mat-icon id="searchButton"  (click)="search(form)">search</mat-icon>
  </form>


  <div id="searchResults">

    <div *ngIf="loading">
      <mat-progress-spinner class="spinner" color="accent" mode="indeterminate"/>
    </div>

    <div *ngIf="!loading">
      <div *ngFor="let book of books">
        <div class="book">
          <img src="https://covers.openlibrary.org/b/olid/{{ book.id }}-M.jpg" alt="{{ book.title }} Cover">
          <div class="bookInfo">
            <h2>{{ book.title }}</h2>
            <p>{{ book.author }}</p>
            <p>{{ book.publication }}</p>
          </div>
          <div *ngIf="loggedIn">
            <div class="bookButtons">
              <mat-icon (click)="favorite(book.id)" id="star-{{ book.id }}" title="Add to favorites">star</mat-icon>
              <mat-icon (click)="bookmark(book.id)" id="bookmark-{{ book.id }}" title="Add to Read Later">bookmark</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



