#searchBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

form {
  padding: 10px 20px 10px 40px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #4A4A4A;
  border-radius: 30px;
}

#searchTypeSelect {
  /* display: inline-flex; */
  /* width: 175px; */
  width: 30%;
  margin-bottom: -20px;
  /* position: absolute;
  left: 28%;
  top: 24% */
}

#searchBar {
  /* display: inline-flex; */
  /* min-width: 400px; */
  /* position: absolute;
  left: 40%;
  top: 24%; */
  width: 60%;
  margin-bottom: -20px;
}

#searchTerms {
  resize: none;
}

#searchButton {
  /* width: 75px; */
  width: 10%;
  height: auto;
  text-align: center;
  /* height: 56px; */
  font-size: 35pt;
  /* padding: 0 0 2px 2px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: absolute;
  right: 29%;
  top: 24.5%; */
}

#searchResults {
  height: 600px;
  overflow-y: scroll;
}

.book {
  display: flex;
  flex-direction: row;
  background-color: gray;
  width: 70%;
  height: 10%;
  max-height: 10%;
  justify-content: space-around;
  padding: 15px;
  border-radius:15px;
  margin: 1% auto;
}

.book img {
  height: 100%;
  width: auto;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.bookButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.bookButtons mat-icon {
  margin: 0 2px;
}

.bookButtons mat-icon:hover, #searchButton:hover {
  cursor: pointer;
}

#messageBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
